.container {
  padding: 0 .24rem;
}

.container ul {
  list-style: none;
  overflow: hidden;
}

.container ul li {
  float: left;
}

.hero-nav {
  margin-top: .15rem;
}

.hero-nav li {
  margin-right: .54rem;
  line-height: .2rem;
}

/* .hero-nav li:first-child {
  text-align: left;
} */

.hero-nav li:last-child {
  margin-right: 0;
} 

.hero-nav a {
  font-size: .26rem;
  color: #343440;
  border-bottom: 2px solid transparent;
  padding-bottom: .1rem;
  display: inline-block;
  /* width: .49rem; */
}

.hero-nav .hero-current a {
  color: #db9e3f;
  border-bottom: 2px solid #db9e3f;
}

.hero-list {
  margin-top: .32rem;
}

.hero-list li {
  width: 1.12rem;
  height: 1.6rem;
  margin-right: .35rem;
  overflow: hidden;
  margin-bottom: .28rem;
}

.hero-list li:nth-child(5n+5) {
  margin-right: 0;
}

.hero-list li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: .24rem;
  color: #343440;
  text-align: center;
}

.hero-list li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.12rem;
  z-index: 5;
  outline: .02rem solid #fff;
  box-shadow: 0 0 0 0.05rem #fff;
  border-radius: .04rem;
  background: transparent;
}

.hero-list .hero-img {
  position: relative;
  width: 100%;
  height: 1.12rem;
  overflow: hidden;
}

.hero-list li img {
  position: absolute;
  width: 110%;
  height: 110%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-list li h3 {
  line-height: .6rem;
}